@model IEnumerable<SistemaGestionRiesgos.DTO.RiesgosPlanesViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-3">
    <div class="col-sm-6 text-center"> 
        <h1>Riesgo</h1>
    </div>
    <div class="col-sm-6 text-center"> 
        <h1>Planes</h1>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row mt-5">
        <div class="col-md-7">
            <!-- Tarjeta para mostrar información del Riesgo -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title dark-gray-text">@item.Riesgo.Titulo</h5>
                    <p class="card-text dark-gray-text-thin">Causa: @item.Riesgo.Causa</p>
                    <p class="card-text dark-gray-text-thin">Descripción: @item.Riesgo.Descripcion</p>
                    <p class="card-text dark-gray-text-thin">Consecuencia: @item.Riesgo.Consecuencia</p>
                    <p class="card-text dark-gray-text-thin">Impacto: @item.Riesgo.Impacto</p>
                    <p class="card-text dark-gray-text-thin">Probabilidad: @item.Riesgo.Probabilidad</p>
                </div>
            </div>
            
            <div class="row">
                <form asp-action="SeleccionarRiesgo" asp-route-riesgo="@item.Riesgo.IdRiesgo" asp-route-tipoPlan="Contingencia" class="col-6 text-end">
                    <button type="submit" class="btn light-green porcelain">
                        Contingencia
                    </button>
                </form>
                <form asp-action="SeleccionarRiesgo" asp-route-riesgo="@item.Riesgo.IdRiesgo" asp-route-tipoPlan="Continuidad" class="col-6 text-start">
                    <button type="submit" class="btn salmon porcelain">
                        Continuidad
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-5">
            @if (item.Planes != null && item.Planes.Any())
            {
                <div class="d-flex flex-column justify-content-end">
                    @foreach (var plan in item.Planes)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title dark-gray-text">Tipo de plan: @plan.TipoPlan</h5>
                                <p class="card-text dark-gray-text-thin">Descripción: @plan.Descripcion</p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
