@using Microsoft.IdentityModel.Tokens
@model IEnumerable<SistemaGestionRiesgos.DTO.RiesgosPlanesViewModel>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    // Obtener los valores de la sesión para cada combinación de probabilidad e impacto
    int? bajoBajoValue = HttpContextAccessor.HttpContext.Session.GetInt32("BajoBajo");
    int? bajoModeradoValue = HttpContextAccessor.HttpContext.Session.GetInt32("BajoModerado");
    int? bajoAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("BajoAlto");
    int? bajoMuyAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("BajoMuyAlto");

    int? moderadoBajoValue = HttpContextAccessor.HttpContext.Session.GetInt32("ModeradoBajo");
    int? moderadoModeradoValue = HttpContextAccessor.HttpContext.Session.GetInt32("ModeradoModerado");
    int? moderadoAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("ModeradoAlto");
    int? moderadoMuyAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("ModeradoMuyAlto");

    int? altoBajoValue = HttpContextAccessor.HttpContext.Session.GetInt32("AltoBajo");
    int? altoModeradoValue = HttpContextAccessor.HttpContext.Session.GetInt32("AltoModerado");
    int? altoAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("AltoAlto");
    int? altoMuyAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("AltoMuyAlto");

    int? muyAltoBajoValue = HttpContextAccessor.HttpContext.Session.GetInt32("MuyAltoBajo");
    int? muyAltoModeradoValue = HttpContextAccessor.HttpContext.Session.GetInt32("MuyAltoModerado");
    int? muyAltoAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("MuyAltoAlto");
    int? muyAltoMuyAltoValue = HttpContextAccessor.HttpContext.Session.GetInt32("MuyAltoMuyAlto");

    
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    @if (ViewBag.InfoMessage != null)
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.InfoMessage
        </div>
    }

    <div class="row mt-5"> 
    <div class="col-md-7">
        <!-- Matriz de impacto y probabilidad -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Matriz de Impacto y Probabilidad</h5>

                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="vertical-text">Impacto / Probabilidad </th>
                            <th scope="col">Bajo</th>
                            <th scope="col">Moderado</th>
                            <th scope="col">Alto</th>
                            <th scope="col">Muy Alto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Bajo</th>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Bajo" asp-route-impacto="Bajo">
                                    <button type="submit" class="btn verde btn-block">
                                        @bajoBajoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Moderado" asp-route-impacto="Bajo">
                                    <button type="submit" class="btn verde btn-block  ">
                                        @moderadoBajoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Alto" asp-route-impacto="Bajo">
                                    <button type="submit" class="btn verde btn-block">
                                        @altoBajoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Muy Alto" asp-route-impacto="Bajo">
                                    <button type="submit" class="btn verde btn-block">
                                        @muyAltoBajoValue
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Moderado</th>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Bajo" asp-route-impacto="Moderado">
                                    <button type="submit" class="btn verde btn-block">
                                        @bajoModeradoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Moderado" asp-route-impacto="Moderado">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @moderadoModeradoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Alto" asp-route-impacto="Moderado">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @altoModeradoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Muy Alto" asp-route-impacto="Moderado">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @muyAltoModeradoValue
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Alto</th>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Bajo" asp-route-impacto="Alto">
                                    <button type="submit" class="btn verde btn-block">
                                        @bajoAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Moderado" asp-route-impacto="Alto">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @moderadoAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Alto" asp-route-impacto="Alto">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @altoAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Muy Alto" asp-route-impacto="Alto">
                                    <button type="submit" class="btn rojo btn-block">
                                        @muyAltoAltoValue
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Muy Alto</th>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Bajo" asp-route-impacto="Muy Alto">
                                    <button type="submit" class="btn verde btn-block">
                                        @bajoMuyAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Moderado" asp-route-impacto="Muy Alto">
                                    <button type="submit" class="btn amarillo btn-block">
                                        @moderadoMuyAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Alto" asp-route-impacto="Muy Alto">
                                    <button type="submit" class="btn rojo btn-block">
                                        @altoMuyAltoValue
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="FiltrarRiesgos" asp-route-probabilidad="Muy Alto" asp-route-impacto="Muy Alto">
                                    <button type="submit" class="btn rojo btn-block">
                                        @muyAltoMuyAltoValue
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    



    <div class="col-md-5">
        <!-- Buscador y tarjetas con datos de riesgos y planes -->
        <form method="post" action="@Url.Action("BuscarRiesgos", "Home")" class="mb-3">
            <div class="input-group">
                <input type="text" name="Titulo" class="form-control" placeholder="Buscar por título...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        @if (Model.IsNullOrEmpty())
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.Message
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <!-- Tarjeta para mostrar información del Riesgo y Plan -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@item.Riesgo.Titulo</h5>
                        <p class="card-text">Causa: @item.Riesgo.Causa</p>
                        <p class="card-text">Consecuencia: @item.Riesgo.Consecuencia</p>
                        <p class="card-text">Impacto: @item.Riesgo.Impacto</p>
                        <p class="card-text">Probabilidad: @item.Riesgo.Probabilidad</p>

                        <!-- Mostrar información del Plan si existe -->
                        @if (item.Plan != null)
                        {
                            <hr /> <!-- Línea divisoria para separar el riesgo del plan -->
                            <h6 class="card-subtitle mb-2 text-muted">Plan Asociado</h6>
                            <p class="card-text">Descripción: @item.Plan.Descripcion</p>
                           
                        }
                        else
                        {
                            <p class="card-text"><em>No hay plan asociado.</em></p>
                        }
                    </div>
                </div>

            }
        }
    </div>
    </div>
</div>



