@model SistemaGestionRiesgos.DTO.CambiarPasswordDTO


<!--Mensaje desde los controladores-->

@if (ViewBag.ActionMessage != null)
{
<div aria-live="assertive" aria-atomic="true" class="bg-dark fixed-top bd-example-toasts">
    <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
        <div class="toast @ViewBag.ActionClass">
            
            <div class="toast-header d-flex justify-content-between">
                <small>Hace un instante</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>

            <div class="toast-body dark-gray-text">
                @ViewBag.ActionMessage
            </div>
        </div>
    </div>
</div>
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cambiar Contraseña</h5>
                    <hr>

                    <form asp-action="CambiarPassword" asp-controller="Usuarios" method="post">
                        <div class="mb-3">
                            <label asp-for="@Model.Email" class="form-label">Correo:</label>
                            <input asp-for="@Model.Email" type="email" class="form-control" />
                            
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.OldPassword" class="form-label">Contraseña Actual:</label>
                            <input asp-for="@Model.OldPassword" type="password" class="form-control"/>
                            
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.NewPassword" class="form-label">Nueva Contraseña:</label>
                            <input asp-for="@Model.NewPassword" type="password" class="form-control"/>
                            
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.ConfirmPassword" class="form-label">Confirmar Nueva Contraseña:</label>
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control"/>
                            
                        </div>
                        <button type="submit" class="btn light-blue porcelain">Cambiar Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>