@model SistemaGestionRiesgos.DTO.LoginDTO


<!--Mensaje desde los controladores-->

@if (ViewBag.ActionMessage != null)
{
<div aria-live="assertive" aria-atomic="true" class="bg-dark fixed-top bd-example-toasts">
    <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
        <div class="toast @ViewBag.ActionClass">

            <div class="toast-header d-flex justify-content-between">
                <small>Hace un instante</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body dark-gray-text">
                @ViewBag.ActionMessage
            </div>
        </div>
    </div>
</div>
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Iniciar sesión</h5>
                    <hr>
                    <form asp-action="Login" asp-controller="Usuarios" method="post">
                        <div class="mb-3 dark-gray-text-thin">
                            <label asp-for="@Model.Email" class="form-label">Correo:</label>
                            <input asp-for="@Model.Email" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 dark-gray-text-thin">
                            <label asp-for="@Model.Contraseña" class="form-label">Contraseña:</label>
                            <input asp-for="@Model.Contraseña" type="password" class="form-control" />
                            <span asp-validation-for="@Model.Contraseña" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn light-blue porcelain">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

